.heading {
    /* Project Verification Application */
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    /* identical to box height, or 102% */

    color: #FFFFFF;

    transform: rotate(0.04deg);
}


.continer h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    /* or 150% */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.continer b {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    color: #FFFFFF;

}

.continer p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 31px;
    margin-bottom: 31px;
    /* or 194% */

    color: rgba(255, 255, 255, 0.5);
}

.continer select {
    color: red;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.span {
    font-family: 'Manrope';
    font-style: normal;
    /* or 194% */
    margin: 12px;
    transform: 5 5;
    /* margin-bottom: 36px; */
    position: relative;
    top: -3px;

    color: rgba(255, 255, 255, 0.5);
}
.s1{
    margin-top: 10px;
}
.m35{
    margin-bottom: -35px;
}

.team {
    display: flex;
    align-items: center;
    justify-content: start;
}

.team > h4{
    margin: 0px;
}

.team > div {
    margin: 0px 25px;
}

.team > div > svg {
    margin: 0px 8px;
}

.team > span {
    color:rgba(255, 255, 255, 0.6);
}
.showHide>svg {
   
    margin-top: 4%;

    margin-right: 8px;
}
@media screen and (min-width: 768px) {
    .showHide>svg {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .team > div > svg {
        margin: 0px 8px;
        display: none;
    }
    .team > span {
        color:rgba(255, 255, 255, 0.6);
        margin-left: 16px;
    }
    .heading {
        /* Project Verification Application */
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        padding: 0px 26px;
        margin-top: 0px;
        text-align: left;
        /* identical to box height, or 102% */

        color: #ffffff !important;

        transform: rotate(0.04deg);
    }

    .continer {
        background: hsl(0deg 0% 0% / 0%);
        padding: 0px 30px;
    }
}


