.main {
  height: 100px;
  overflow: hidden;
  margin: 20px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -100px;
  width: fit-content;
  height: fit-content;
}

.digit {
  font-size: 50px;
  padding: 0;
  margin: 0;
  opacity: 1;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.animate {
  animation-timing-function: ease;
  animation: anim 2s forwards;
}

@keyframes anim {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}
