.presale {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  height: fit-content;
  background: linear-gradient(-45deg, #063048, #100751, #19191b, #0b3848);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main {
  text-align: center;
  width: 50%;
  flex-direction: column;
  padding-top: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 40px;
    width: 60%;
  }
}
